<!doctype html>
<html>

<head>
  <meta charset="utf-8">
  <title>The Restaurant App</title>

  <style>
    h1 {text-align: center;}   
    p {text-align: center;
       font-size: x-large;
    }

    body {
        background-color: tan;
    }

    
    img {
        width: 200px;
        height: 400px;
        object-position: left;
    }


  </style>  




</head>

<body>

    <h1>The Restaurant App</h1>


    <p>Menu</p>

    <img src="{{url_for('static', filename='images/IMG_4645-682x1024.jpg')}}" />
  
  
</body>

</html>
